{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nutritionista</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
    <header class="navbar-fixed">
      <nav class="nav-extended grey darken-3">
        <div class="nav-wrapper grey darken-3">
          <ul>
            <li> 
              <a href="/" class="left brand-logo">&nbsp;&nbsp;Nutritionista</a>
              <i id="logoIcon" class="material-icons">local_dining</i>
            </li>
          </ul>
          <ul class="right">
            <li><a href="{% url 'about' %}">About</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">My Days</a></li>
            <li><a href="{% url 'days_create' %}">Add Day</a></li>
            <li><a href="{% url 'foods_index' %}">Food</a></li>
            <li><a href="{% url 'foods_create' %}">Add Food</a></li>
            <li><a href="{% url 'logout' %}">Log Out</a></li>
            {% else %}
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <li><a href="{% url 'login' %}">Log In</a></li>
            {% endif %}
          </ul>
        </div>
      </nav>
    </header>
    <main class="container">{% block content %} {% endblock %}</main>
    <footer class="page-footer grey darken-3">
      <div class="right">
        All Rights Reserved, &copy; 2021 Nutritionista &nbsp;
      </div>
      <script>
        var dateEl = document.getElementById("id_date");
        M.Datepicker.init(dateEl, {
          format: "yyyy-mm-dd",
          defaultDate: new Date(),
          setDefaultDate: true,
          autoClose: true,
        });
      </script>
    </footer>
  </body>
</html>
